* {
  font-family: 'Lexend Mega', sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 30px;
}

.form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
}

.table-photo {
  max-height: 120px;
  max-width: 100px;
}

.table-container {
  padding-top: 50px;
}

.table-container h3 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.table-item {
  cursor: pointer;
}

.card-detail-container {
  margin-top: 100px;
  height: 60vh;
}

.detail-image {
  height: 300px;
}

#detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body h4 {
  margin-bottom: 50px;
}

#alive {
  color: green;
}

#dead {
  color: red;
}

#wand-list {
  width: 300px;
}

#searchbar-container {
  width: 50%;
  margin-left: 7px;
}