@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto+Slab:wght@300&display=swap');
* {
  font-family: 'Lexend Mega', sans-serif;
}

body {
  background-color: #D3D3D3;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 30px;
}

.form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
}

.table-photo {
  max-height: 120px;
  max-width: 100px;
}

.table-container {
  padding-top: 50px;
}

.table-container h3 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.table-item {
  cursor: pointer;
}

.card-detail-container {
  margin-top: 100px;
  height: 60vh;
}

.detail-image {
  height: 300px;
}

#detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body h4 {
  margin-bottom: 50px;
}

#alive {
  color: green;
}

#dead {
  color: red;
}

#wand-list {
  width: 300px;
}

#searchbar-container {
  width: 50%;
  margin-left: 7px;
}

.search-container {
  margin-left: 20px;
}

#go-back-icon {
  cursor: pointer;
  color: white;
  font-size: 40px;
}

#user-img img {
  width: 85px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

#user-img {
  display: flex;
  justify-content: space-around;
}

#logout-icon {
  cursor: pointer;
}

.user-container-navbar h4 {
  font-family: 'Cedarville Cursive', cursive;
}

#house-img {
  width: 30px;
}

#card-container {
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
  color: white;
}

.list-group-item {
  background-color: black;
}

.Gryffindor-back {
  background-image: url(https://images.alphacoders.com/556/556471.jpg);
}

.Slytherin-back {
  background-image: url(https://cdn.wallpapersafari.com/4/63/D4Zlq9.png);
}

.Ravenclaw-back {
  background-image: url(https://www.wallpapertip.com/wmimgs/7-74527_harry-potter-ipod-touch-6-case.jpg);
}

.Hufflepuff-back {
  background-image: url(https://wallpapercave.com/wp/wp1958743.png);
}