* {
  font-family: 'Lexend Mega', sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 30px;
}

.form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20vh;
}

.table-photo {
  max-height: 120px;
  max-width: 100px;
}

.table-container {
  padding-top: 50px;
}

.table-container h3 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.table-item {
  cursor: pointer;
}